<a href="https://www.google.com/" class="tooltipped" target="_blank" data-tooltip="Google" data-position="top"
    data-delay="50">
    <i class="fa fa-google"></i>
</a>
<a href="https://www.youtube.com/" class="tooltipped" target="_blank" data-tooltip="Youtube" data-position="top"
    data-delay="50">
    <i class="fa fa-youtube"></i>
</a>
<a href="https://octodex.github.com/" class="tooltipped" target="_blank" data-tooltip="Github-头像" data-position="top"
    data-delay="50">
    <i class="fa fa-github"></i>
</a>
<a href="https://www.bilibili.com/" class="tooltipped" target="_blank" data-tooltip="BiliBili" data-position="top"
    data-delay="50">
    <i class="fa fa-location-arrow"></i>
</a>
<a href="https://anyi.life/" class="tooltipped" target="_blank" data-tooltip="安逸导航" data-position="top" data-delay="50">
    <i class="fa fa-search"></i>
</a>

<a href="https://www.nowcoder.com/8278190" class="tooltipped" target="_blank" data-tooltip="牛客" data-position="top"
    data-delay="50">
    <i class="fa fa-shirtsinbulk"></i>
</a>

<a href="https://leetcode-cn.com/" class="tooltipped" target="_blank" data-tooltip="力扣(中国)" data-position="top" data-delay="50">
    <i class="fa fa-balance-scale"></i>
</a>

<a href="https://www.seeseed.com/" class="tooltipped" target="_blank" data-tooltip="SeeSeed" data-position="top" data-delay="50">
    <i class="fa fa-bolt"></i>
</a>
<a href="http://webstack.cc/cn/index.html" class="tooltipped" target="_blank" data-tooltip="WebStack" data-position="top"
    data-delay="50">
    <i class="fa fa-gg"></i>
</a>
<a href="http://chuangzaoshi.com/" class="tooltipped" target="_blank" data-tooltip="创造狮" data-position="top" data-delay="50">
    <i class="fa fa-bullseye"></i>
</a>


<a href="https://sspai.com/" class="tooltipped" target="_blank" data-tooltip="少数派" data-position="top" data-delay="50">
    <i class="fa fa-connectdevelop"></i>
</a>

<a href="https://xituqu.com/" class="tooltipped" target="_blank" data-tooltip="稀土区" data-position="top" data-delay="50">
    <i class="fa fa-certificate"></i>
</a>


