<a href="https://github.com/xq773939719" class="tooltipped" target="_blank" data-tooltip="GitHub" data-position="top"
    data-delay="50">
    <i class="fa fa-github"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="邮件:xq773939719@gmail.com" data-position="top" data-delay="50">
    <i class="fa fa-envelope-open"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="QQ:773939719" data-position="top" data-delay="50">
    <i class="fa fa-qq"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="微信:xq773939719" data-position="top" data-delay="50">
    <i class="fa fa-wechat"></i>
</a>

