<a href="https://github.com/xq773939719" class="tooltipped" target="_blank" data-tooltip="GitHub" data-position="top"
    data-delay="50">
    <i class="fa fa-github"></i>
</a>
<a href="https://space.bilibili.com/7076447/#/" class="tooltipped" target="_blank" data-tooltip="BiliBili"
    data-position="top" data-delay="50">
    <i class="fa fa-viadeo"></i>
</a>
<a href="https://www.jianshu.com/u/3d7dfd3e540f" class="tooltipped" target="_blank" data-tooltip="我的简书" data-position="top"
    data-delay="50">
    <i class="fa fa-bookmark"></i>
</a>
<a href="https://www.zhihu.com/people/xu-qiang-69-64/activities" class="tooltipped" target="_blank" data-tooltip="我的知乎"
    data-position="top" data-delay="50">
    <i class="fa fa-balance-scale"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="邮件:773939719@qq.com" data-position="top" data-delay="50">
    <i class="fa fa-envelope-open"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="QQ:773939719" data-position="top" data-delay="50">
    <i class="fa fa-qq"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="微信:xq773939719" data-position="top" data-delay="50">
    <i class="fa fa-wechat"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="Twitter:xq773939719" data-position="top" data-delay="50">
    <i class="fa fa-twitter"></i>
</a>
<!--<a href="#!" class="tooltipped" data-tooltip="Tumblr:cleergo" data-position="top" data-delay="50">
    <i class="fa fa-tumblr"></i>
</a>-->
<!--<a href="#!" class="tooltipped" data-tooltip="Slack:xq773939719" data-position="top" data-delay="50">
    <i class="fa fa-slack"></i>
</a>-->
<% if (config.feed && config.feed.path == 'atom.xml') { %><a href="<%- url_for('/atom.xml') %>" class="tooltipped"
    target="_blank" data-tooltip="RSS" data-position="top" data-delay="50"><i class="fa fa-rss"></i>
</a>
<% } %>

<a href="https://github.com/blinkfox/hexo-theme-matery" class="tooltipped" target="_blank" data-tooltip="基于Hexo+Matery创建"
    data-position="top" data-delay="50">
    <i class="fa fa-link"></i>
</a>